.header {
    display: flex;
    justify-content: space-evenly;
    border: inset;
    border-color: seashell;
}

img {
    width: 185px;
}

.title {
    display: flex;
    justify-content: center;
}

aside {
    float: right;
    width: 30%;
    border-top: solid 5px blue;
    background-color: turquoise;
    margin: 4%;
}

.header--tips {
    display: flex;
    justify-content: center;
}

body {
    background-color: lightseagreen;
}

.fish_Name {
    display: flex;
    justify-content: center;
}

.fish {
    border: double;
    border-style: outset;
    border-color: royalblue;
    margin: 2%;
}

.header_fishes {
    display: flex;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.fishspecies,
.fishlength,
.fishlocation,
.fish_eats {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
}

.tip {
    display: flex;
    justify-content: center;
    border: double;
    border-style: outset;
    border-color: royalblue;
    margin: 2%;
}

.quote {
    display: flex;
    justify-content: center;
    border: double;
    border-style: outset;
    border-color: royalblue;
    margin: 2%;
}

.places {
    display: flex;
    justify-content: center;
}

.locations {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    border: double;
    border-style: outset;
    border-color: royalblue;
    margin: 2%;
}

.footer {
    text-align-last: center;
}